h1{
    color : rgb(8, 7, 100)
}

.colonne{
    flex-direction: column;
}

.ligne{
    flex-direction: row;
}

.debut{
    align-items: flex-start;
}

.fin{
    align-items: flex-end;
}

.centre{
    align-items: center;
}

.espace-milieu{
    align-items: space-between;
}

.espace-autour{
    align-items: space-around;
}

.espace-milieu2{
    align-items: space-evenly;
}

#currentpage{
    color: rgb(182, 54, 54);
}

.bleu-fonce{background-color: rgb(5, 30, 43);}
.bleu{background-color: rgb(36, 37, 133);}
.bleu-clair{background-color: rgb(33, 71, 197);}
.bleu-pale{background-color: rgb(61, 155, 231);}
.invisible{background-color: rgb(196, 115, 17);}


.element-hw-menu{
    height: 20%;
    width: 100%;
}

.element-hw-autres{
    height: 100%;
    width: 100%;
}

.conteneur-hw-menu{
    width: 100%;
    height: 150px;
}

.conteneur-hw-autres{
    width: 100%;
    height: 1200px;
}

.conteneur-flexible{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    border: 0px solid blue;
    box-sizing: border-box;
    margin: 20px 0px;
}


.element-flexible{
    flex: 5 2 10px;
    background-color: rgb(228, 245, 239); /*Vert*/
    border: 0px solid rgb(116, 161, 31);
    box-sizing: border-box;
    margin: 10px;
    flex-basis: 1;
}

body{
    background-color: rgb(196, 115, 17);
}

button{
    background-color: rgb(255, 255, 255);
}

h2 {
    color: rgb(0, 0, 0);
}

p{
    color: rgb(0, 0, 0);
}

h3{
    color:rgb(0, 0, 0);
}