h1{
    color : red
}

a{
    color :rgb(255, 255, 255)
}

.colonne{
    flex-direction: column wrap;
}

.ligne{
    flex-direction: row wrap;
}

.debut{
    align-items: flex-start;
}

.fin{
    align-items: flex-end;
}

.centre{
    align-items: center;
}

.espace-milieu{
    align-items: space-between;
}

.espace-autour{
    align-items: space-around;
}

.espace-milieu2{
    align-items: space-evenly;
}

#currentpage{
    color: rgb(182, 54, 54);
}

.bleu-fonce{background-color: rgb(5, 30, 43);}
.bleu{background-color: rgb(36, 37, 133);}
.bleu-clair{background-color: rgb(33, 71, 197);}
.bleu-pale{background-color: rgb(61, 155, 231);}


.h-index{
    height: 175px;
}

.h-hobbies{
    height: 500px;
}

.conteneur-flexible{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    background-color: #0AD; /*Bleu*/
    width: 100%;
    height: 200px;
    border: 2px solid blue;
    box-sizing: border-box;
    margin: 20px 0px;
}


.element-flexible{
    flex: 1 1 50px;
    width: 40%;
    height: 40%;
    background-color: #0DA; /*Vert*/
    border: 2px solid green;
    box-sizing: border-box;
    margin: 10px;
}

body{
    background-color: rgb(159, 166, 173);
}